.app-wrapper {
  display: grid;
  width: 1200px;
  font-family: 'SF Mono', Menlo, Monaco, 'Courier New', monospace;
  color: #13ff00;
  margin: 0 auto;

  grid-template-areas: 
    "h h"
    "n c";

   grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.header {
  grid-area: h;
  background-color: #131416;
}

.header img {
  width: 100px;
}

.nav {
  grid-area: n;
  background-color: #131416;
}

.content {
  grid-area: c;
  background-color: #131416;
}

.content img {
  width: 1000px;
}