.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.messages {
    padding: 30px;
}

.dialogsItems {
    padding: 30px;
}

.dialogsItems a.active {
    color: goldenrod;
}

.dialogsItems a {
    color: #333;
    text-decoration: none;
}