.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
}


.messages {
    padding: 30px;
}

.textarea {
    padding: 10px;
}

.dialogsItems {
    border-right: 0.1px solid #333;
}

.dialogsItems a.active {
    color: goldenrod;
}

.dialogsItems a {
    color: #333;
    text-decoration: none;
}

.dialog {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.09);
    border-radius: 2%;
    line-height: 50px;
    margin: 3px;
    height: 50px;
    
}

